body {
    background-color: black;
}

.mainimage {
    text-align: center;
    padding: 5px;
    
}

.mainheader {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    color: white;
}

.secondheader {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}
