Package: planet-launcher
Version: 1.0.0
Architecture: all
Maintainer: mcpiscript <mcpiscript@gmail.com>
Depends: python3-pyqt5, python3:any, python3-pyqt5.qtwebkit, python3-pyqt5.qtsvg, python3-pyqt5.qtwebkit, python3-pyqt5.qtmultimedia
Replaces: mcpil, mcpil-r
Recommends: minecraft-pi-reborn-client, minecraft-pi-reborn-server, python3-pyqtdarkmode, python3-mcpi, python3-minecraft-pi, python3-morpheus-mcpi
Section: games
Priority: optional
Homepage: https://github.com/mcpiscript/Planet
Description: A better launcher for Minecraft: Pi Edition
 A better launcher.
 This launcher requires you to download an AppImage file from the official Jenkins.
